* {
  font-family: 'Roboto', sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.ban__reg {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: #B63F5F;
  -webkit-box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
          box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 28px;
}

.ban__reg img {
  margin-left: 10px;
}

header .container {
  padding-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo__link {
  min-width: 179px;
  max-width: 179px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 86px;
}

header .logo__link img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #DCDCDC;
  text-decoration: none;
  margin-left: 68px;
}

header .header__link:first-child {
  margin-left: 0;
}

header .language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  border: 1px solid #B0B2C1;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  height: 45px;
  padding: 0 25px;
}

header .language .current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

header .language:hover ul {
  opacity: 1;
  visibility: visible;
}

header .language ul {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  list-style: none;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
  z-index: 9;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

header .language li {
  width: 100%;
}

header .language li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 15px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

header .language li a:hover {
  background: #F2F4FF;
}

header .header__bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 179px);
}

header .header__bar .auth__log {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-left: 30px;
  border: 1px solid #B0B2C1;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  height: 45px;
  padding: 0 25px;
}

header .header__bar .auth__register {
  margin-left: 30px;
  width: 162px;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #B63F5F;
  -webkit-box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
          box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

section.banner {
  position: relative;
  height: 682px;
  min-height: calc(751px - 72px);
  max-height: calc(100vh - 72px);
}

section.banner .bg__image {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: calc(100% + 72px);
  left: 0;
  top: -72px;
  background: #2B2B3D;
}

section.banner .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 39px;
}

section.banner .banner__dsc {
  width: 50%;
  padding-top: 60px;
}

section.banner .banner__dsc .banner__title {
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  color: white;
  margin-bottom: 50px;
  max-width: 554px;
  width: 100%;
}

section.banner .banner__dsc .ban__auth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

section.banner .banner__dsc .ban__auth .ban__regdemo {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: white;
  border: 1px solid #B0B2C1;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  width: 233px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

section.banner .banner__img {
  width: 100%;
  height: calc(100% + 85px);
  position: absolute;
  right: 0;
  top: -72px;
  z-index: -1;
}

section.banner .banner__img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.check__bar {
  margin-top: 56px;
  width: 100%;
  max-width: 550px;
  height: 124px;
  background: #3A374B;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), inset 4px 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), inset 4px 4px 25px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
  padding: 0 20px;
}

.check__bar .chck__item {
  width: calc(33.33333% - 20px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.check__bar .chck__item img {
  margin-bottom: 17px;
  height: 29px;
  -o-object-fit: contain;
     object-fit: contain;
}

.check__bar .chck__item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}

section.start {
  padding: 95px 0;
  background: #FAFBFF;
}

section.start .trading__steps {
  width: 100%;
}

section.start .trading__steps .start__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #474747;
  margin-bottom: 45px;
}

section.start .trading__steps .steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

section.start .trading__steps .steps .steps__dsc {
  width: 100%;
  grid-gap: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

section.start .trading__steps .steps .steps__dsc h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #313131;
  margin-bottom: 18px;
}

section.start .trading__steps .steps .steps__dsc p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
  margin-bottom: 15px;
}

section.start .trading__steps .steps .steps__dsc a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #B63F5F;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.start .trading__steps .steps .steps__dsc a img {
  margin-left: 6px;
}

section.start .trading__steps .steps .steps__item {
  width: calc(33.33333% - 20px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section.start .trading__steps .steps .step__order {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  background: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #B63F5F;
  margin-left: 25px;
  margin-right: 13px;
  z-index: 5;
}

section.start .trading__steps .steps .step__icon {
  position: absolute;
  left: 0;
  top: 25px;
  background: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.start .trading__steps .steps .step__icon img {
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  z-index: 5;
}

section.quality {
  width: 100%;
  background: #FAFBFF;
  padding: 83px 0 100px;
}

section.quality .qual__contt {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 59px;
}

section.quality .qual__item {
  width: calc(25% - 15px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(33, 41, 106, 0.15);
          box-shadow: 0px 4px 30px rgba(33, 41, 106, 0.15);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 45px 17px 37px;
}

section.quality .qual__item:nth-child(4n + 2) .qual__icon:before, section.quality .qual__item:nth-child(4n + 3) .qual__icon:before {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

section.quality .qual__icon {
  margin-bottom: 21px;
  position: relative;
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.quality .qual__icon:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #B63F5F;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

section.quality img {
  width: 49px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  -o-object-fit: contain;
     object-fit: contain;
}

section.quality h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #313131;
  margin-bottom: 9px;
}

section.quality p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #646464;
}

section.quality .ban__reg {
  margin: 0 auto;
}

section.prognosis {
  padding: 160px 0;
  position: relative;
}

section.prognosis .bg__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

section.prognosis .bg__image img {
  width: 100%;
  height: 100%;
}

section.prognosis .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

section.prognosis .prognosis__desc {
  width: 50%;
}

section.prognosis .money__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  max-width: 475px;
  margin-bottom: 26px;
}

section.prognosis .prognosis__btns {
  max-width: 488px;
  width: 100%;
  padding: 36px 34px;
  background: #3A374B;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), inset 4px 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), inset 4px 4px 25px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

section.prognosis .money__dsc {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #BDC1D3;
  margin-bottom: 16px;
}

section.prognosis .price__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.prognosis .price__btn button {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

section.prognosis .price__btn button img {
  margin-left: 10px;
}

section.prognosis .price__btn .down__btn {
  background: #B63F5F;
  -webkit-box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
          box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

section.prognosis .price__btn .up__btn {
  background: #3FB67D;
  -webkit-box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
          box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-left: 20px;
}

section.prognosis .price__btn .up__btn img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

section.prognosis .big__comp {
  width: 50%;
}

section.prognosis .big__comp img {
  position: absolute;
  width: calc(50vw + 140px);
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: contain;
     object-fit: contain;
}

section.question {
  padding: 100px 0;
  background: #FAFBFF;
}

section.question .ques__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #474747;
  margin-bottom: 39px;
}

section.question .question__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  grid-gap: 20px;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.question .half {
  width: calc(50% - 10px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  grid-gap: 20px;
}

section.question .question__item {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(33, 41, 106, 0.15);
          box-shadow: 0px 4px 30px rgba(33, 41, 106, 0.15);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 30px 46px;
}

section.question .question__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #313131;
  margin-bottom: 18px;
}

section.question p {
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}

section.question .all__btn {
  height: 57px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 28px;
  border: 1px solid #C8C8C8;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #9B9B9B;
  margin-top: 17px;
}

section.pay {
  background: #F5F7FF;
  height: 182px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

section.foot__banner {
  position: relative;
  margin-bottom: -8px;
  padding: 123px 0 150px;
}

section.foot__banner .bg__img {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #2B2B3D;
}

section.foot__banner .bg__img img {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

section.foot__banner h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  max-width: 538px;
  color: #FFFFFF;
  margin-bottom: 39px;
}

section.foot__banner .auth__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

section.foot__banner .auth__btns .real__acc {
  background: #B63F5F;
  -webkit-box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
          box-shadow: 0px 4px 20px rgba(29, 37, 64, 0.15);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  width: 247px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

section.foot__banner .auth__btns .real__acc img {
  margin-left: 10px;
}

section.foot__banner .auth__btns .demo__acc {
  border: 2px solid #B63F5F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: white;
  width: 176px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 24px;
}

footer {
  background: #1E1D26;
  padding: 68px 0 30px;
}

footer .foot__logo {
  margin-bottom: 38px;
}

footer .foot__items {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 37px;
  margin-bottom: 78px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

footer .foot__items .foot__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(20% - 30px);
}

footer .foot__items .foot__item .foot__item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: white;
  margin-bottom: 12px;
}

footer .foot__items .foot__item .foot__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #9997B7;
  text-decoration: none;
}

footer .bot__footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bot__footer img {
  margin-bottom: 12px;
}

footer .bot__footer p {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #9997B7;
}

footer .bot__footer p span {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #B63F5F;
}

.language:hover, .auth__log:hover, .ban__regdemo:hover, .all__btn:hover {
  border-color: #B63F5F !important;
  color: #B63F5F !important;
}

.header__link {
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

.header__link:hover {
  color: #B63F5F !important;
}

.auth__register, .ban__reg, .down__btn, .up__btn, .real__acc, .demo__acc {
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  -o-transition: filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
}

.auth__register:hover, .ban__reg:hover, .down__btn:hover, .up__btn:hover, .real__acc:hover, .demo__acc:hover {
  -webkit-filter: brightness(130%) !important;
          filter: brightness(130%) !important;
}

.step__desc a, .header__link, .foot__link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.step__desc a:hover:before, .step__desc a:hover:after, .header__link:hover:before, .header__link:hover:after, .foot__link:hover:before, .foot__link:hover:after {
  width: 50%;
}

.step__desc a:before, .step__desc a:after, .header__link:before, .header__link:after, .foot__link:before, .foot__link:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 1px;
  background: #B63F5F;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
}

.step__desc a:after, .header__link:after, .foot__link:after {
  left: unset;
  right: 0;
}

.qual__item:hover .qual__icon:before {
  -webkit-transform: unset !important;
      -ms-transform: unset !important;
          transform: unset !important;
}
.languageCountry{
  width: 100%;
  text-align: left;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
}
header .header__bar a.auth__log {
  padding-top: 10px;
}
.price__btn a.up__btn, .price__btn a.down__btn {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}