@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  section.start .trading__steps .steps .steps__dsc {
    padding-left: 0;
  }
  section.foot__banner .man__banner {
    left: 50px;
  }
  section.foot__banner .women__banner {
    right: 50px;
  }
  section.prognosis {
    padding: 180px 0 60px;
  }
  section.prognosis .prognosis__desc {
    width: 100%;
  }
  section.prognosis .money__title {
    max-width: 450px;
    margin-bottom: 50px;
  }
  section.prognosis .big__comp img {
    width: 50%;
    top: 60px;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header .container {
    max-width: 100%;
  }
  header .header__link {
    margin-left: 30px;
  }
  header .logo__link {
    margin-right: 30px;
  }
  header .header__bar .auth__register, header .header__bar .auth__log {
    margin-left: 15px;
  }
  section.banner {
    max-height: unset;
    height: unset;
    padding-bottom: 50px;
  }
  section.banner .container {
    max-width: 100%;
  }
  section.banner .banner__dsc {
    width: 65%;
    padding-top: 50px;
  }
  section.banner .banner__dsc .ban__auth {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    grid-gap: 15px;
  }
  section.banner .banner__dsc .ban__auth .ban__regdemo {
    margin: 0;
  }
  section.banner .banner__img img {
    margin: 0;
  }
  section.prognosis {
    padding: 100px 0;
  }
  section.prognosis .prognosis__desc {
    width: 100%;
  }
  section.prognosis .money__title {
    max-width: 350px;
    margin-bottom: 60px;
  }
  section.prognosis .big__comp img {
    width: 50%;
    top: 100px;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
  section.start .container {
    max-width: 100%;
  }
  section.start .trading__steps .steps .steps__dsc {
    padding-left: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.start .trading__steps .steps .steps__img img {
    width: 100%;
    margin-left: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
  section.start .trading__steps .steps .steps__item {
    width: calc(50% - 15px);
  }
  section.quality .container {
    max-width: 100%;
  }
  section.foot__banner .man__banner, section.foot__banner .women__banner {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 70px;
    background: #2B2B3D;
  }
  header:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background: #2B2B3D;
    z-index: -1;
    -webkit-transition: height .3s ease;
    -o-transition: height .3s ease;
    transition: height .3s ease;
  }
  header.fixed:before {
    height: 70px;
  }
  header .container {
    position: relative;
  }
  header .bar__btn {
    z-index: 10;
    width: 24px;
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
  }
  header .bar__btn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 2px;
    background: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  header .bar__btn span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .bar__btn span:nth-child(3) {
    bottom: 0;
    top: unset;
  }
  header .bar__btn.active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
  header .bar__btn.active span:nth-child(2) {
    left: -45vw;
  }
  header .bar__btn.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 40%;
  }
  header .logo__link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header .header__bar {
    top: 0;
    z-index: -1;
    position: fixed;
    background: #FFFFFF;
    left: -100vw;
    margin-left: 0;
    padding-top: 120px;
    padding-bottom: 50px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .header__bar.active {
    left: 0;
  }
  header .header__bar .auth__log, header .header__bar .auth__register {
    margin: 20px 0 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  header .header__link {
    margin-left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  header .header__link:first-child {
    margin-left: 0;
  }
  header .header__link:nth-child(2) {
    margin-bottom: 0px;
  }
  header .language {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 20px;
  }
  section.banner {
    padding: 80px 0;
    min-height: unset;
    max-height: unset;
    height: unset;
  }
  section.banner .bg__image img {
    width: unset;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  section.banner .container {
    padding-top: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  section.banner .banner__img {
    margin-bottom: 30px;
    width: 100%;
  }
  section.banner .banner__img img {
    margin: 0;
    width: 100%;
  }
  section.banner .banner__dsc {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  section.banner .banner__dsc .banner__title {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 30px;
  }
  section.banner .banner__dsc .ban__auth {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    grid-gap: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.banner .banner__dsc .ban__auth .ban__regdemo {
    margin: 0;
  }
  section.start {
    padding: 50px 0;
  }
  section.start .trading__steps .start__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  section.start .trading__steps .steps .steps__dsc {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-bottom: 25px;
  }
  section.start .trading__steps .steps .steps__img {
    width: 100%;
  }
  section.start .trading__steps .steps .steps__img img {
    width: 100%;
    margin: 0;
  }
  section.start .trading__steps .steps .steps__item {
    width: 100%;
  }
  section.start .trading__steps .steps .step__order, section.start .trading__steps .steps .step__icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    font-size: 14px;
  }
  section.start .trading__steps .steps .step__order img, section.start .trading__steps .steps .step__icon img {
    width: 18px;
  }
  section.quality {
    padding: 50px 0;
  }
  section.quality .qual__contt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  section.quality .qual__contt .qual__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  section.quality .qual__contt .qual__item:first-child {
    margin-left: 0;
  }
  section.prognosis {
    padding: 50px 0;
  }
  section.prognosis .money__title {
    font-size: 30px;
    line-height: 34px;
  }
  section.prognosis .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  section.prognosis .prognosis__desc {
    width: 100%;
  }
  section.prognosis .big__comp {
    width: 100%;
    margin-top: 50px;
  }
  section.prognosis .big__comp img {
    position: unset;
    width: 100%;
    top: unset;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
  section.question {
    padding-bottom: 50px;
  }
  section.question .ques__title {
    font-size: 30px;
    line-height: 34px;
  }
  section.question .half {
    width: 100%;
  }
  section.pay {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 30px;
    padding: 30px 0;
  }
  section.foot__banner {
    padding: 50px 0;
  }
  section.foot__banner .bg__img {
    top: 0;
    left: 0;
  }
  section.foot__banner .bg__img img {
    width: unset;
    height: 100%;
  }
  section.foot__banner .banner__content {
    width: 100%;
  }
  section.foot__banner .banner__content h2 {
    font-size: 30px;
    line-height: 34px;
  }
  section.foot__banner .banner__content .auth__btns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    grid-gap: 25px;
  }
  section.foot__banner .banner__content .auth__btns .demo__acc {
    margin: 0;
  }
  section.foot__banner .container {
    padding: 0 15px;
  }
  section.foot__banner .man__banner {
    display: none;
  }
  section.foot__banner .women__banner {
    display: none;
  }
  footer {
    padding: 50px 0;
  }
  footer .foot__items .foot__item {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .check__bar {
    width: unset;
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 15px;
    grid-gap: 30px;
  }
  .check__bar .chck__item {
    width: 100%;
    margin: 0 !important;
  }
  section.prognosis .price__btn {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    grid-gap: 15px;
    margin-top: 25px;
  }
  section.prognosis .price__btn button {
    width: 100% !important;
    margin: 0 !important;
  }
}
